#sidebar {
  z-index: 1000;
  right: 0;
  margin-right: -15vw;
  min-width: 15vw;
  max-width: 15vw;
  background: $lightBrown;
  color: white;
  position: fixed;
  height: 100vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow-y: visible;

  a {
    color: white;
  }

  &.active {
    margin-right: 0vw;
    -webkit-box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, 0.75);
  }
}

#cart-teddy {
  position: fixed;
  top: 7vh;
  right: 0vw;
  height: 200px;
  transform-origin: 100% 100%;
  transform: rotate(0.25turn);
  transition: all 0.3s;
  z-index: 0;

  &.active {
    transition: all 1s ease;
    right: 14.4vw;
    transform: rotate(0.0turn);
    z-index: 1000;
  }
}