html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Coming Soon', cursive;
}
p {
  margin : auto;
}
//changer la couleur lors du surlignage
::selection {
  background: $lightBrown;
  /* WebKit/Blink Browsers */
  color: beige;
}

::-moz-selection {
  background: #ffb7b7;
  /* Gecko Browsers */
  color: beige;
}

input[type=number] {

  //toujours afficher les flèches sur les inputs number
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    opacity: 1;
  }

  border: 1px solid $lightBrown;
  border-radius: 5px;
  color: $darkBrown;
}

.form-control {
  border: 1px solid $lightBrown;
  border-radius: 5px;
  color: $darkBrown;

  &:focus {
    @include focus;
  }
}

.dropdown-item {

  &.active,
  &.dropdown-item:active,
  &.dropdown-item:focus,
  &.dropdown-item:hover {
    color: #fff !important;
    text-decoration: none;
    background-color: $lightBrown;
  }
}

#content {
  width: 100%;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;

  &.active {
    width: calc(100% - 15vw);
  }
}

.card {
  margin: 1rem;
  padding: 1rem;
  min-width: min-content;
}

.w-content {
  width: fit-content;
}