.cart-content-detail {
  background: url(../images/cart-bg.jpg) right;
  align-items: center;
}

.img-sm {
  width: auto;
  height: 100px
}

.table-shopping-cart .price {
  font-weight: bold;
  font-weight: 600;
}

.top-cart-price-bloc{
  background-color: transparent;
  border: none;
}
#add-to-cart{
  white-space: normal;
}
#shipping-form{
  border-radius: 5px;
  form{
    display: grid;
  }
}