.cart-content-detail {
  background: url(../images/cart-bg.jpg) right;
  align-items: center;
}

.img-sm {
  width: auto;
  height: 100px
}

.table-shopping-cart .price {
  font-weight: bold;
  display: block;
  font-weight: 600;
}
