.confirmation-bloc{
    background: url(../images/confirmation-bg.jpg) left center;
    background-size: cover;
    align-items: center ;
    div{
        height: fit-content;
        border-radius: 5px;
    }
}