#inputState {
    width: fit-content;
  }
  /*-------------------------*/
  .product-detail{
    background: url(../images/product-bg.jpg)left;
    .card {
    height: fit-content;
    align-self: center;
  }

  }